* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.center-div {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.center-col{
    flex-basis: 30%;
    border-radius: 10px;
}

/* HEADER ALANI */
header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

nav a img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.nav-links ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    margin-top: 5px;
    display: block;
}


.nav-links ul li a:hover::after {
    width: 100%;
    transition: 0.7s;
}

.nav-links i {
    color: white;
    font-size: 25px;
    display: none;
}

.nav-links i:hover {
    font-size: 30px;
    transition: 0.7s;
}

/* text box */
.text-box {
    width: 90%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 70px;
}

.text-box p {
    margin: 20px 40px;
}

button {
    display: inline-block;
    color: white;
    padding: 10px 25px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
}

button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
    box-shadow: 0 0 15px white;
}

/* CARS */
.cars {
    padding-top: 100px;
}

.cars h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

.cars p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 50px;
}

.row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}



.car-col {
    background-color: #0A6EBD;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}

.car-col h3 {
    margin: 10px;
}

.car-col:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
    transition: 0.5s;
}

/* campus */
.campus {
    padding-top: 50px;
}

.campus p{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
}

.campus-col{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.7s;
    cursor: pointer;
}

.layer:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.7s;
   
}

.layer h3{
width: 100%;
font-weight: 35px;
color: white;
position: absolute;
bottom: 0;
transition: 0.5s;
opacity: 0;
}

.layer:hover h3{ 
    bottom: 50%;
    transition: 0.7s;
    opacity: 1;
}


/* FACİLİTEİS */
.facilities{
    padding-top: 50px;
}

.facilities p{
    margin-bottom: 30px;
}

.facilities h1{
    margin-bottom: 10px;
}

.facilities-col{
    margin-bottom: 10px;
    text-align: center;
}

.facilities-col img{
    width: 100%;
    border-radius: 15px;
}

.facilities-col p{
    margin: 10px
}

/* YORUMLAR */
.comment{
    padding-top: 90px;
}

.comment h1{
    margin-bottom: 10px;
}

.comment-col{
    background-color: gray;
    margin-bottom: 15px;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
}

.comment-col img{
    height: 50px;
    margin: 10px;
    border-radius: 100%;
    border: 2px solid red;
}
/* urgent call */
.ua{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bmw-bina.avif);
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    color: white;
    margin-top: 20px;
    width: 1200px;
    height: 400px;
    border-radius: 20px;
}

.ua h1{
    margin-bottom: 40px;
    font-size: 30px;
}

/* footer */
footer{
    padding: 30px;
}

footer h1{
    margin: 20px;
}

.icons{
    margin: 10px;
}

.icons i{
    color: red;
    margin: 10px;
    cursor: pointer;
    padding:10px ;
    font-size: 25px;
}

.fa-heart{
    color: red;
}

.ozel-p{
    font-size: 20px;
}


/* TABLET İÇİN RESPONSİVE AYARLARI */
@media (max-width:768px) {
    .nav-links i {
        display: block;
        margin: 10px;
        cursor: pointer;
    }

    .nav-links ul {
        display: none;
    }

    .text-box h1 {
        font-size: 30px;
    }

    .row {
        flex-direction: column;
    }

    .ua h1{
        font-size: 25px;
    }

    .ua{
        width: 400px;
        height: 200px;
    }
}